# Byte-compiled / optimized / DLL files / log files
__pycache__/
*.py[cod]
*$py.class
wget-log*





# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Pycharm
.idea

# large data
runs
result
model_weight
Checkpoints
*.tar